<!-- extend base layout -->

{% block content %}

<!DOCTYPE html>
<!--<html lang="en">-->
  <head>
    <meta charset="utf-8">
    <title>Trust in Dragons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Donate to your favorite non-profit project and keep track of their accountability in a rewarding environment">
    <meta name="author" content="Paige, Christine, Jess and Prashant">

    <!-- Le styles
    <link href="css/bootstrap.css" rel="stylesheet">-->
<link type="text/css" href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 80px;
        line-height: 1;
      }
      .jumbotron p {
        font-size: 34px;
        line-height: 1.25;
      }
    

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }



    </style>
 <!--   <link href="css/bootstrap-responsive.css" rel="stylesheet"> -->
<link "text/css" href="static/css/bootstrap-responsive.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TrustInDragons</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#campaign">Start campaign</a></li>
              <li><a href="/pyladies">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <button href="/index" type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

     <div id="jumb-cover" class="jumbotron">
      
          <h1><span class="exo-bold-tittle">TrustInDragons <br></span></h1>
          <p>A rewards-driven crowdfunding platform with a strong emphasis in <b><u>acccountability</u></b> and <b><u>transparency</u></b></p>
      
      </div>
      

      <!-- Example row of columns -->
    
        <div class="row-fluid">
           <div class="span4" align="center"><a href="#donate"><img src="static/resources/images/donate.png"></a>
          <h2>Donate</h2>
          <p class="bigp">Explore projects in your community and donate to causes and projects you care about.</p>
            </div>
        <div class="span4" align="center"><a href="#play"><img src="static/resources/images/play.png"></a>
          <h2>Play</h2>
          <p class="bigp">Win badges, complete missions and share your commitment with your social media network.</p>
        </div>
        <div class="span4" align="center"><a href="#track"><img src="static/resources/images/track.png"></a>
          <h2>Track</h2>
          <p class="bigp">Receive all the details per email and sms every time your project makes a payment and provide feedback on the recepients accountability.</p>
        </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; TrustInDragons 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/transition.js"></script>
    <script src="../assets/js/alert.js"></script>
    <script src="../assets/js/modal.js"></script>
    <script src="../assets/js/dropdown.js"></script>
    <script src="../assets/js/scrollspy.js"></script>
    <script src="../assets/js/tab.js"></script>
    <script src="../assets/js/tooltip.js"></script>
    <script src="../assets/js/popover.js"></script>
    <script src="../assets/js/button.js"></script>
    <script src="../assets/js/collapse.js"></script>
    <script src="../assets/js/carousel.js"></script>
    <script src="../assets/js/typeahead.js"></script>


  </body>
{% endblock %}
<!--</html>-->
