<!DOCTYPE HTML>

</html>

<html>
<head>
<title>Test Page</title>
</head>
<body>

<p>This is a test HTML file.</p>
<!--<script type="text/js" src="static/js/paypal-button.min.js?merchant=christine.doig.cardet@gmail.com" -->
<script type="text/js" src="paypal-button.min.js?merchant=christine.doig.cardet@gmail.com" 
    data-button="donate" 
    data-name="Donate" 
    data-quantity="1" 
    data-amount="5.00" 
    data-shipping="0" 
    data-tax="0" 
    data-callback="http://trustme.serverquake.com/test" 
    data-env="sandbox"
></script>
<h1> hi </h1>

</body>
</html>
