<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <title>Trust in Dragons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Donate to your favorite non-profit project and keep track of their accountability in a gamification environment">
    <meta name="author" content="Paige, Christine, Jess and Prashant">

    <link type="text/css" href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link "text/css" href="static/css/bootstrap-responsive.css" rel="stylesheet">

    </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TrustInDragons</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/admin">Start campaign</a></li>
              <li><a href="/pyladies">Projects</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <button href="/index" type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">

        <div class="page-header">
	<h1>Success! <br>You are one of the dragonborns now!!<br> Rejoice and breathe fire!!</h1>
	</div>
</div>

   <script src="../static/js/jquery.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/alert.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/scrollspy.js"></script>
    <script src="../static/js/tab.js"></script>
    <script src="../static/js/tooltip.js"></script>
    <script src="../static/js/popover.js"></script>
    <script src="../static/js/button.js"></script>
    <script src="../static/js/collapse.js"></script>
    <script src="../static/js/carousel.js"></script>
    <script src="../static/js/typeahead.js"></script>


  </body>
</body>

{% endblock %}
